ClientService/Connected Services/ServiceContext/item5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8701/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service.Requests" />
  <xs:import schemaLocation="http://localhost:8701/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Service.Responses" />
  <xs:import schemaLocation="http://localhost:8701/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Service" />
  <xs:element name="Registration">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Service.Requests" minOccurs="0" name="registration" nillable="true" type="q1:RegistrationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Service.Responses" minOccurs="0" name="RegistrationResult" nillable="true" type="q2:RegistrationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Autorization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Service.Requests" minOccurs="0" name="autorization" nillable="true" type="q3:AutorizationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutorizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Service.Responses" minOccurs="0" name="AutorizationResult" nillable="true" type="q4:AutorizationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Recording">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Service.Requests" minOccurs="0" name="recording" nillable="true" type="q5:RecordingRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecordingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecordingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Db">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="context" nillable="true" type="q6:Context" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DbResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>