ClientService/Connected Services/ServiceContext/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service.Requests" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service.Requests" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RegistrationRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegistrationRequest" nillable="true" type="tns:RegistrationRequest" />
  <xs:complexType name="AutorizationRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AutorizationRequest" nillable="true" type="tns:AutorizationRequest" />
  <xs:complexType name="RecordingRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="dateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="master" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="option" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecordingRequest" nillable="true" type="tns:RecordingRequest" />
</xs:schema>