ClientService/Connected Services/ServiceContext/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service.Responses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service.Responses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RegistrationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="errMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="error" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegistrationResponse" nillable="true" type="tns:RegistrationResponse" />
  <xs:complexType name="AutorizationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="errMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="error" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AutorizationResponse" nillable="true" type="tns:AutorizationResponse" />
</xs:schema>